.mainAbout {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include mobile {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include mobile-smallest {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.main__banner--about {
  width: 100%;
  height: 22.5rem;
  border-radius: 2.5rem;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
    height: 22.5rem;
    border-radius: 2.5rem;
    filter: brightness(50%);
  }
}

.container__dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
