.card {
  position: relative;
  display: flex;
  width: 38rem;
  height: 38rem;
  margin: 2.5rem 0 2.5rem 0;
  //background: linear-gradient(to bottom, #ff6060, #bc4652);
  border-radius: 2.5rem;

  @include tablet {
    width: 30rem;
    height: 30rem;
  }

  @include laptop {
    width: 27rem;
    height: 18rem;
  }

  @include mobile {
    justify-content: center;
    width: 100%;
    height: 25rem;
    margin: 0 0 2rem 0;
  }

  @include mobile-smallest {
    justify-content: center;
    width: 100%;
    height: 25rem;
    margin: 0 0 2rem 0;
  }

  &__cover {
    border-radius: 0.5rem;
    filter: brightness(70%);
    border-radius: 1rem;
  }

  img {
    @include tablet {
      max-width: unset;
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    max-width: 80%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 85%;
    left: 4%;
    z-index: 9;

    @include tablet {
      top: 80%;
    }

    @include laptop {
      top: 74%;
      font-size: 1.6rem;
    }

    @include mobile {
      top: 76%;
      font-size: 1.8rem;
      font-weight: 500;
    }

    @include mobile-smallest {
      top: 70%;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
