.dropdownContainer {
  display: flex;
  flex-direction: column;
  width: 80%;

  @include mobile {
    width: 100%;
  }

  @include mobile-smallest {
    width: 100%;
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 3.2rem 0 0 0;
    border-radius: 0.5rem;
    background: #ff6060;
    color: #fff;

    @include mobile {
      height: 3rem;
    }

    @include mobile-smallest {
      height: 3rem;
    }

    &:hover {
      cursor: pointer;
    }

    h2 {
      padding-left: 2rem;

      @include mobile {
        font-size: 1.5rem;
        font-weight: 500;
        padding-left: 1rem;
      }

      @include mobile-smallest {
        font-size: 1.5rem;
        font-weight: 500;
        padding-left: 1rem;
      }
    }

    .arrow {
      padding-right: 3rem;

      @include mobile {
        padding-right: 1rem;
        width: 30px;
      }

      @include mobile-smallest {
        padding-right: 1rem;
        width: 30px;
      }
    }
  }

  .panel-collapse {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 50rem;
    background: #f6f6f6;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include tablet {
      max-height: unset;
      height: auto;
    }

    p {
      width: 100%;
      font-size: 2.4rem;
      padding: 0 2rem 0 2rem;
      color: #ff6060;
      background: #f6f6f6;
      line-height: 3.5rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;

      @include mobile {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      @include mobile-smallest {
        font-size: 1.4rem;
        line-height: 1.8rem;
        height: auto;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
    }
  }
  .panel-close {
    max-height: 0;
  }
}

.dropdownContainerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;

  @include tablet {
    justify-content: flex-start;
  }

  @include mobile {
    width: 100%;
  }

  @include mobile-smallest {
    width: 100%;
  }

  .dropdownDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 3.2rem 0 0 0;
    border-radius: 0.5rem;
    background: #ff6060;
    color: #fff;

    @include mobile {
      height: 3.5rem;
    }

    @include mobile-smallest {
      height: 3.5rem;
    }

    &:hover {
      cursor: pointer;
    }

    h2 {
      padding-left: 2rem;
      font-size: 1.8rem;

      @include mobile {
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
      }

      @include mobile-smallest {
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .arrow {
      padding-right: 3rem;

      @include mobile {
        padding-right: 1.5rem;
      }

      @include mobile-smallest {
        padding-right: 1.5rem;
      }

      img {
        @include mobile {
          width: 20px;
        }

        @include mobile-smallest {
          width: 20px;
        }
      }
    }
  }

  .panel-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 25rem;
    //max-height: 50rem;
    background: #f6f6f6;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include tablet {
      height: auto;
    }

    @include mobile {
      height: 15rem;
    }

    @include mobile-smallest {
      height: 15rem;
    }

    p {
      width: 100%;
      font-size: 1.8rem;
      padding: 0 2rem 0 2rem;
      color: #ff6060;
      background: #f6f6f6;
      line-height: 2.5rem;

      @include mobile {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      @include mobile-smallest {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
    }
  }

  .panel-close {
    max-height: 0;
  }
}
