.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 21rem;
  background-color: #000;
  margin-top: 10rem;

  &__img {
    padding-top: 4rem;
    color: #fff;

    @include mobile {
      padding-top: 0;
    }

    @include mobile-smallest {
      padding-top: 0;
    }
  }

  &__text {
    padding-top: 5rem;
    color: #fff;
    font-size: 2.4rem;

    @include mobile {
      font-size: 1.6rem;
      padding-top: 2rem;
    }

    @include mobile-smallest {
      font-size: 1.6rem;
      padding-top: 2rem;
    }
  }
}
