.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 14rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    margin-left: 10%;
    margin-right: 10%;
  }

  @include mobile {
    margin-left: 5%;
    margin-right: 5%;
    height: 10rem;
  }

  @include mobile-smallest {
    margin-left: 5%;
    margin-right: 5%;
    height: 10rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-smallest {
    flex-direction: column;
  }

  img {
    width: 21rem;
    height: 6rem;

    @include laptop {
      width: 14rem;
      height: 4.5rem;
    }

    @include mobile {
      width: 14.5rem;
      height: 4.5rem;
    }

    @include mobile-smallest {
      width: 14.5rem;
      height: 4.5rem;
      margin-bottom: 1rem;
    }
  }

  &__links {
    display: flex;

    @include mobile-smallest {
      width: 100%;
      justify-content: space-evenly;
    }

    li {
      padding: 0 0 0 5rem;

      @include mobile {
        padding: 0 0 0 2rem;
      }

      @include mobile-smallest {
        padding: 0;
      }
    }

    .link {
      font-size: 2.4rem;
      color: #ff6060;
      font-weight: 500;

      @include laptop {
        font-size: 2rem;
      }

      @include mobile {
        font-size: 1.8rem;
      }

      @include mobile-smallest {
        font-size: 1.8rem;
      }
    }

    .selected {
      text-decoration: underline #ff6060;
    }
  }
}
