.headerLogding {
  @include tablet {
    position: relative;
  }

  @include mobile {
    position: relative;
  }

  @include mobile-smallest {
    position: relative;
  }
}

.descriptionLogding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  .logdingTitles {
    h1 {
      font-size: 3.6rem;
      color: #ff6060;
      margin-bottom: 1rem;

      @include mobile {
        font-size: 1.8rem;
        font-weight: 500;
      }

      @include mobile-smallest {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    p {
      font-size: 1.8rem;
      color: #ff6060;
      margin-bottom: 2.5rem;

      @include mobile {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }

      @include mobile-smallest {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  .host {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    @include laptop {
      position: absolute;
      right: 4.8rem;
      top: 38rem;
      width: 7rem;

      h3 {
        text-align: end;
      }
    }

    @include tablet {
      position: absolute;
      width: 15rem;
      right: 0rem;
      top: unset;
      bottom: 0;
    }

    @include mobile {
      position: absolute;
      right: 0;
      bottom: -1rem;

      h3 {
        text-align: end;
        max-width: 6rem;
      }
    }

    @include mobile-smallest {
      position: absolute;
      right: 0;
      bottom: -1rem;

      h3 {
        text-align: end;
        max-width: 6rem;
      }
    }
  }
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include large {
    flex-direction: column;
  }

  @include laptop {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  @include mobile-smallest {
    flex-direction: column;
  }

  .tags {
    display: flex;
    gap: 0 1rem;

    @include large {
      align-self: flex-start;
    }

    @include laptop {
      align-self: flex-start;
    }

    @include mobile {
      align-self: flex-start;
      flex-wrap: wrap;
      gap: 1rem 1rem;
    }

    @include mobile-smallest {
      align-self: flex-start;
      flex-wrap: wrap;
      gap: 1rem 1rem;
    }
  }

  .rating {
    @include large {
      align-self: flex-start;
      margin-top: 1.5rem;
    }

    @include laptop {
      align-self: flex-start;
      margin-top: 1.5rem;
    }

    @include mobile {
      align-self: flex-start;
      margin-top: 3rem;
    }

    @include mobile-smallest {
      align-self: flex-start;
      margin-top: 2.5rem;
    }

    img {
      @include mobile {
        width: 1.8rem;
      }

      @include mobile-smallest {
        width: 1.8rem;
      }
    }
  }
}
