.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    margin-left: 10%;
    margin-right: 10%;
  }

  @include mobile {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include mobile-smallest {
    margin-left: 5%;
    margin-right: 5%;
  }

  &__banner {
    position: relative;
    width: 100%;
    border-radius: 2.5rem;

    @include mobile {
      margin-bottom: 2.8rem;
    }

    @include mobile-smallest {
      margin-bottom: 2.8rem;
    }

    img {
      width: 100%;
      border-radius: 2.5rem;
      filter: brightness(50%);

      @include mobile {
        height: 12rem;
        border-radius: 1rem;
      }

      @include mobile-smallest {
        height: 12rem;
        border-radius: 1rem;
      }
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      text-align: center;
      font-size: 4.8rem;
      //font-size: calc(59 * calc(0.01 * 9vmin));
      font-weight: 500;
      color: #fff;

      @include tablet {
        font-size: 3vw;
        width: 100%;
      }

      @include mobile {
        font-size: 7vw;
        width: 90%;
        font-weight: 500;
        text-align: unset;
        display: flex;
        flex-direction: column;
      }

      @include mobile-smallest {
        font-size: 7vw;
        width: 90%;
        font-weight: 500;
        text-align: unset;
        display: flex;
        flex-direction: column;
      }
    }

    @include mobile {
      height: 11.2rem;
    }

    @include mobile-smallest {
      height: 11.2rem;
    }
  }

  &__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    //gap: 3.5rem;
    margin: 4rem 0 4rem 0;
    background: #f6f6f6;
    border-radius: 2.5rem;

    @include mobile {
      background: unset;
      margin: 0;
    }

    @include mobile-smallest {
      background: unset;
      margin: 0;
    }

    a {
      @include mobile {
        width: 100%;
      }
    }
  }
}
