.host {
  &__name {
    font-size: 1.8rem;
    color: #ff6060;

    @include mobile {
      font-size: 1.3rem;
      font-weight: 500;
    }

    @include mobile-smallest {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  &__img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;

    @include mobile {
      width: 5rem;
      height: 5rem;
    }

    @include mobile-smallest {
      width: 5rem;
      height: 5rem;
    }
  }
}
