.logdingSection {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20rem;

  @include tablet {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include mobile {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    margin-bottom: 10rem;
  }

  @include mobile-smallest {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    margin-bottom: 10rem;
  }
}
