.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  @include tablet {
    margin-left: 5%;
    margin-right: 5%;
  }

  &__error {
    color: #ff6060;
    font-size: 28.8rem;
    font-weight: bold;

    @include mobile {
      font-size: 9.6rem;
    }

    @include mobile-smallest {
      font-size: 9.6rem;
    }
  }

  &__oups {
    color: #ff6060;
    font-size: 3.6rem;
    padding-top: 5rem;

    @include tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 1.8rem;
      text-align: center;
    }

    @include mobile-smallest {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  &__homeLink {
    color: #ff6060;
    font-size: 1.8rem;
    text-decoration: underline #ff6060;
    padding-top: 20rem;

    @include mobile {
      font-size: 1.4rem;
      text-align: center;
    }

    @include mobile-smallest {
      font-size: 1.4rem;
      text-align: center;
    }
  }
}
