.sliderContainer {
  width: 100%;
  height: 42rem;
  position: relative;
  overflow: hidden;

  @include tablet {
    position: unset;
  }

  @include mobile {
    height: 34rem;
  }

  @include mobile-smallest {
    height: 34rem;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;

    @include tablet {
      height: 42rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2.5rem;

      @include mobile {
        border-radius: 1rem;
      }

      @include mobile-smallest {
        border-radius: 1rem;
      }
    }

    &.active {
      opacity: 1;
      position: absolute;
    }
  }

  .btn-slide {
    width: 7rem;
    height: 7rem;
    background: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mobile {
      width: 3.5rem;
    }

    @include mobile-smallest {
      width: 3.5rem;
    }

    img {
      width: 4.5rem;
      height: 7rem;
      pointer-events: none;

      @include mobile {
        width: 1.5rem;
        height: 2rem;
      }

      @include mobile-smallest {
        width: 1.5rem;
        height: 2rem;
      }
    }
  }

  .prev {
    top: 50%;
    left: 2rem;
    transform: translateY(-60%);

    @include tablet {
      top: 33%;
      left: 0;
    }

    @include mobile {
      left: 0;
    }

    @include mobile-smallest {
      left: 0;
    }
  }

  .next {
    top: 50%;
    right: 2rem;
    transform: translateY(-60%);

    @include tablet {
      top: 33%;
      right: 0;
    }

    @include mobile {
      right: 0;
    }

    @include mobile-smallest {
      right: 0;
    }
  }
}
