.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 11.5rem;
  height: 2.5rem;
  padding: 0 1rem 0 1rem;
  border-radius: 0.8rem;
  background: #ff6060;

  @include mobile {
    height: 2rem;
    border-radius: 0.5rem;
  }

  @include mobile-smallest {
    height: 2rem;
    border-radius: 0.5rem;
  }

  &__content {
    color: #fff;
    font-size: 1.4rem;

    @include mobile {
      font-size: 1.1rem;
      font-weight: 500;
    }

    @include mobile-smallest {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}
