// Colors
$color-primary: #FF6060;
$background-linear: linear-gradient(0deg, rgba(203,75,75,1) 0%, rgba(255,96,96,1) 40%);

// Shadows


// Média queries
$mobileSmallest: 320;
$mobile: 425;
$tablet: 426;
$laptop: 769;
$large: 1025;
$desktop: 1439;